<div class="container">

  <nav class="navbar navbar-expand-lg navbar-light py-0">
    <a class="navbar-brand" href="/"><img src="/assets/static/logo.png" width="120" height="60" class="img-rounded center-block"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav nav-justified w-100 mr-0">
        <li class="nav-item">
          <a class="nav-link py-0" href="/index.html">首页</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/download.html">下载</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/solution.html">解决方案</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/product.html">产品和服务</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/customer_center.html">客户中心</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="/aboutus.html">关于我们</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
