{% extends '_base.html' %}

{% block head %}
{{ super() }}
<title>关于我们 - 上海飞奥信息技术服务有限公司</title>
<link rel="stylesheet" href="/assets/css/aboutus.css">
{% endblock %}

{% block content %}
{{ super() }}
<div class="fly-banner">
      <img src="/assets/static/aboutus/banner.png" alt="about us">
</div>

</div>

<div class="container">
<div class="introduction">
  <h2><img src="/assets/static/aboutus/item1.png" alt="公司简介">公司简介</h2>
  <div class="row">
    <div class="col-md">
      <p>上海飞奥信息技术服务有限公司是一专注在云端物联网领域的产品和解决方案供应商，公司以领先的理念和技术、物联网与云计算的深度融合，相关行业的全面深度介入，结合大数据及人工智能，努力成为时代的领跑者。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <p>公司的业务领域主要覆盖技术资讯、软硬件产品研发和销售，系统集成及培训等。公司拥有众多自主知识产权的产品，其产品在高校、证券、卫生、公安、环保等行业较有影响力。</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md">
      <p>2014年3月，公司的“飞奥企业协同管理工作平台软件”（简称FA-OA）入选国家科技部“科技型中小企业技术创新项目”；2016年10月公司成功承接南京邮电大学物联网研究院“3S智慧服务商店”项目；2018年4月，公司于南京邮电大学签订战略合作协议，共建“3S智慧服务联合实验室“。</p>
			</div>
		</div>
		<div class="row ">
			<div class="col-md ">
				<p>公司遵循敢于创新、勇担责任、追求极致的企业文化；与多所国内外著名高校及科研院所紧密合作，拥有自己的技术支持及培训体系，其技术团队由一群经验丰富的行业资深专家组成，服务专业全面，助力客户成长。</p>
			</div>
		</div>
  </div>
</div>

  <div class="bg">

  <div class="container">


<section class="timeline">
			<h2><img src="/assets/static/aboutus/item2.png " alt="企业发展历程 "/>企业发展历程</h2>
  <ol>
    <li>
      <div>
        <time>2011-10-13</time>公司成立
      </div>
    </li>
    <li>
      <div>
        <time>2012-3</time>发布新一代企业私有架构云
      </div>
    </li>
    <li>
      <div>
        <time>2013-10</time>发布企业云盘产品
      </div>
    </li>
    <li>
      <div>
        <time>2014-3</time>获国家科技部“科技型中小 企业技术创新项目”奖励
      </div>
    </li>
    <li>
      <div>
        <time>2015-1</time>发布 “慧钻一号” 产品
      </div>
    </li>
    <li>
      <div>
        <time>2016-6</time>工业物联网云平 台上线
      </div>
    </li>
    <li>
      <div>
        <time>2017-11</time>智慧服务商店上线
      </div>
    </li>
    <li>
      <div>
        <time>2018-3</time>与南京邮电大学建立 “3S联合实验室”
      </div>
    </li>
    <li></li>
  </ol>

</section>
	  </div>
  </div>
  </div>
  </div>

  <div class="container">

  <div class="partner ">
			<h2><img src="/assets/static/aboutus/item3.png " alt="合作伙伴 "/>合作伙伴</h2>
		<div class="row">
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/guotou.jpg " alt="国投电力 ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/IBM.jpg " alt="IBM ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/ali.jpg " alt="阿里云 ">
				</div>
			</div>

			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/redhat.jpg " alt="RHL ">
				</div>
			</div>

			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/tencent.jpg " alt="腾讯云 ">
				</div>
			</div>



			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/guojin.jpg " alt="国金证券 ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item">
				<img src="/assets/static/aboutus/partner/nanyou.jpg " alt="南京邮电大学 ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/hangshi.jpg " alt="杭州师范大学 ">
				</div>
			</div>

			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/vm.jpg " alt="Vmware ">
				</div>
			</div>

			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/guoji.jpg " alt="国家技术转移东部中心 ">
				</div>
			</div>



			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/oracle.jpg " alt="oracle ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/jiaoda.jpg " alt="上海交通大学 ">
				</div>
			</div>
			<div class="col-md col-6">
				<div class="partner-item ">
				<img src="/assets/static/aboutus/partner/uc.jpg " alt="UCLOUD ">
				</div>
			</div>




		</div>

  </div>
</div>

<div class="bg">

  <div class="container">
  <div class="contact-us">
    		<h2><img src="/assets/static/aboutus/item4.png " alt="联系我们 "/>联系我们</h2>

    	<div class='row'>
        <div class="col-md">
	    			<div class="contact-us-item">
					<img src="/assets/static/aboutus/item5.png " alt="联系邮箱 ">
					<span>联系邮箱</span>
					<span>PS@fly-over.com.cn</span>
    		</div>
      </div>

			<div class="col-md">
				<div class="contact-us-item">
				<img src="/assets/static/aboutus/item6.png " alt="联系地址 ">
				<div><span>联系地址</span></div>
				<span>上海市临港海洋一路333号10号楼407室</span>
			</div>
  </div>

			<div class="col-md">
				<div class="contact-us-item ">
				<img src="/assets/static/aboutus/item7.png " alt="联系电话 ">
				<div><span>联系电话</span></div>
				<span>+862161059498</span>
				</div>
			</div>
</div>
    </div>

    	<div class="row">
				<div id="mapdiv" class="w-100">
					<iframe  frameborder="0 " scrolling="no " height="400px " width="100% " src="/assets/static/aboutus/map.html " id="map "> </iframe>
			</div>
		</div>
   </div>



  </div>
</div>
{% endblock %}
