{% extends '_base.html' %}
{% block head %}
  {{ super() }}
  <title>客户中心 - 上海飞奥信息技术服务有限公司</title>
  <link rel="stylesheet" href="/assets/css/index.css">
  <link rel="stylesheet" href="/assets/css/customer_center.css">
{% endblock %}


{% block content %}
{{ super() }}
  <div class="fly-banner">
    <img src="/assets/static/customer_center.jpg" alt="">
  </div>




  <div class="container">
  <div class="fly-notice">
  <div class="fly-title">
    <h2><img class="title-icon" src="/assets/static/notice.png" alt="">通知公告</h2>
  </div>


  <div class="row">
    <div class="col-md-6"><img src="/assets/static/notice_background.jpg">
    </div>
    <div class="col-md-6">
      <ul>
        {% for article in articles %}
        <li><a href="{{ article.link }}" target="_blank">{{ article.title }}</a> <span>2018-7-20</span></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  </div>


  <div class="fly-news">
  <div class="fly-title">
    <h2><img class="title-icon" src="/assets/static/news.png" alt="">行业新闻</h2>
  </div>
  <div class="row">

  <div class="col-md-6">
    <ul>
    </ul>
  </div>
  <div class="col-md-6">
    <ul>
    </ul>
  </div>
  </div>


  </div>
</div>
{% endblock %}

{% block script %}
{{ super() }}

<script>

$.get('https://www.ciciot.com/api/articles/?limit=10', function (msg) {
  for (idx in msg.results) {
      let obj = msg.results[idx];
      let pub_date = new Date(obj.pub_date);
      // fuck ie browser
      let format_date = pub_date.getFullYear() + '-' + (pub_date.getMonth() + 1) + '-' + pub_date.getDate();

      $('.fly-news .col-md-6 ul').eq(idx % 2).append("<li><a target='_blank' href=" + "http://www.ciciot.com" + obj.url + ">" + obj.title + "</a><span>" + format_date + "</span></li>")
  }
})

</script>
{% endblock %}
