{% extends '_base.html' %}
{% block head %}
{{ super() }}
        <title>产品 - 上海飞奥信息技术服务有限公司</title>
        <link rel="stylesheet" href="/assets/css/service_and_product.css">
{% endblock %}


{% block content %}
{{ super() }}
  <div class="service-banner">
    <img src="/assets/static/service/service_banner.png" alt="">
  </div>

  <div class="container">

  <div class="row">
          <div class="col-md-6">

          <a href="product.html">
            <img class="service-choice1" src="/assets/static/product/item1-1.png" alt="">
          </a>
          </div>
          <div class="col-md-6">

          <a href="service.html">
            <img class="service-choice2" src="/assets/static/product/item1-2.png" alt="">
          </a>
          </div>
      </div>

  <div class="row left "style="padding-bottom: 0px">
      <div class="col-md">
      <h2>“大数据交互平台”（FO-BDP）</h2>
      <p>随着企业信息系统发展到摩尔定律早已被打破的今天，IT建设的重心早已不再是围绕着单个系统的基础建设。各个企业动辄保有PB级别的数据，“数据是最大的金矿”早已被人们所熟知，围绕这一话题，各种技术、解决方案层出不穷。</p>
      <p>大数据技术成为处理和利用这些海量数据的关键，然而，与（数据库-中间件-用户界面）传统数据处理技术不同的是，大数据生态圈各类产品、方案大多解决的是某一方面的问题，而企业大数据建设需要通盘综合考虑企业当前和未来几年内在数据整合、治理、分析和使用等各个维度的需求，因而人们很难有效地在短时间内完成需要建设的系统的完整方案选型和设计，往往一个系统建设好后看似能解决目前的问题，结果从长期来看发现又是建立了一个数据孤岛，加上分布式系统的建设本身比传统群集式建设难度的加大，更是提高了一套完整有效的大数据系统的建设难度</p>
      <p>大数据交互平台能快速完成大数据产品选型、验证、架构设计和生产部署，快速高效地将计算和分析所需数据及时归集，平台结构清楚、条理明晰、高质量地存储企业数据的同时维持较低的资源耗用，有效控制数据平台总体成本；可利用有限的计算资源满足业务人员的即席查询，销售人员的数据报表，数据科学家的深度分析，以及IT开发人员的数据提取；轻松管理庞大的数据集群，保障平台的高效无故障运行。
          </p>
   </div>
    <div class="col-md img_bottom_text" >
      <img  class="normal-img" src="/assets/static/product/FO-BDP.jpg" alt="">
        <br/>产品架构图
    </div>
  </div>
          <h3 align="center" style="padding-top: 10px">产品特点</h3>

  <div class="row left" style="padding-top: 10px">
    <div class="col-md-2 " style="padding-left: 0px;padding-right: 0px;">
         <h4><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
            &nbsp快</h4>
            <ul>
                <li>全平台基于容器构建，各组件已经按使用场景规划好，平台规划、部署无需繁重劳动</li>
                <li>平台组件位于私有市场，随用随装，点击即可</li>
                <li>数据定义即集成，定义好接入源，业务即刻使用数据</li>
                <li>高效调控系统计算资源分配，轻松避免系统瓶颈和任务排队</li>
            </ul>
      </div>
      <div class="col-md-2 offset-md-1" style="padding-left: 0px;padding-right: 0px;">
            <h4><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">&nbsp易</h4>
                <ul>
                        <li>可视化流式数据集成引擎，用户直接使用SQL查询全平台异构数据源，管理员轻松实现字段级访问授权及数据安全审计
                            </li>
                        <li>统一API接口，集成标签，数据使用只需要一个授权码</li>
                        <li>深度整合BI分析工具箱，多维度BI分析不再到处找数据</li>
                        <li>集成数据科学家工作台，数据分析、深度挖掘思路不中断</li>
                </ul>
          </div>
          <div class="col-md-2 offset-md-1" style="padding-left: 0px;padding-right: 0px;">
                <h4><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">&nbsp全</h4>
                    <ul>
                      	<li>功能全面，集数据治理，数据交互和数据交换于一体</li>
	                      <li>视角全面，从数据地图可全览企业数据资产，数据关联关系一图展现</li>
                      	<li>数据标签与数据地图全绑定，业务标签数据可轻松抽取，通过API接口直接调用</li>
                      	<li>系统自带全套数据报表专题库，数据源直接供给Tableau等主流报表工具使用</li>
                </ul>
              </div>
   </div>

  <div class="row right color">
    <div class="col-md img_bottom_text">
      <img class="normal-img" src="/assets/static/product/SD-1.png" alt="">
       <br/>
       <br/>很难想象当海量的风格各异的数据涌向自己的时候，自己将徒手面对... ‘慧钻’ 正是我们所需要的...
    </div>
    <div class="col-md">
          <h2>“慧钻一号”（SD-1,Smart Drill-1)</h2>
          <p>
                数据正像洪水一样朝我们汹涌而来：企业内部的业务应用、外部五花八门的信息源，正一刻不停的产生和消费着数据。大多数企业领导和业务创新者早已充分意识到数据可能对其业务转型或发展的巨大意义。但如何 能够尽情的收集数据、高效的存储数据、有效的管理数据、充分的利用数据，还缺乏成功的实践——特别是在技术飞速创新的今天，企业如何能将数据运用自如，有力推动业务的转型升级，是管理者和业务创新者最关注的话题。
          </p>
          <br/>
          <p>上海飞奥信息技术服务有限公司的“慧钻”产品可为您提供端到端的数据供给平台，实现“数据资源化、资源标签化”：
              <br/> 1. 	&nbsp从企业级视角，高效、有序、可靠的管理所有数据资产，为企业打好“大数据”的基础；
              <br/> 2. 	&nbsp以数据为导向(data-oriented)，来优化数据从收集到利用的全过程，进而提升IT对业务创新的支撑能力；
              <br/> 3. 	&nbsp使企业数据资产可视化，更好的展现出数据对企业发展与创新的价值；
              <br/> 4. 	&nbsp弥补因为大数据冲击，使传统企业数据治理框架凸显出来的短板；
              <br/> 5. 	&nbsp简化企业应用新兴技术的难度，加速企业利用流行技术构建创新应用的过程;
          </p>
    </div>
  </div>

  <div class="row left" style="padding-bottom: 0px">
        <div class="col-md">
                <h2>企业集成网关</h2>
                <p>FO Integration Gateway系统可以帮助企业构建网络设备、主机、应用系统等资源状态监视、预警、故障分析、诊断、操作控制，实现对网络基础架构和业务应用的“集中监控，一点监控”，达到及时发现问题，辅助快速定位及解决问题的目的。设计基于SOA架构的应用集成框架、建立应用集成标准规范、搭建应用集成平台，基于集成标准实现研发、生产业务线的应用集成，打通业务与数据通路；规范待建系统的集成要求，指导待建系统实现标准化的应用集成。梳理企业综合管理类、工程业务类流程，搭建流程集成平台，逐步实现梳理成果的自动化落地，实现跨业务系统流程的贯通，实现科研生产人员，行政管理人员工作协同水平，提高整体工作效率，为领导提供统一的流程处理平台。FO Integration Gateway 系统架构上分为五层：规范层、适配器层、核心ESB层、监控平台层、数据库层；
                </p>
        </div>
        <div class="img_bottom_text col-md-4">
         <img class="normal-img" src="/assets/static/product/FO-ESB.png" alt="">
         <br/>FO Integration Gateway系统架构图
        </div>
  </div>

  <br/>

  <div class="row left" style="padding-top: 0px">
    <div class="col-md-8">
        <h3>常见使用场景：</h3>
        <div>
            (一)	&nbsp	基于企业服务总线实现PDM系统同ERP系统的BOM传递：在制造业企业的生产运行管理中，通常以BOM的形式表达产品的设计信息、制造信息和各种管理信息。在生产领域，PDM关注的重点是产品设计过程的有效管理，产品设计BOM管理即在PDM系统中实现；ERP关注的重点是生产计划和库存的控制，制造BOM是生产计划和库存管理数据基础。PDM和ERP虽然分工明确，但建立的基础却是相同的，那就是企业的基本制造数据（主要包括物料数据、设计数据、工艺数据等）。因此，通过PDM与ERP系统的集成实现设计BOM到制造BOM的数据共享与传递，不仅能精确地传递信息，保证基本制造数据的一致性，避免因信息重复输入而可能带来的错误，还能使产品的设计制造过程更加顺畅，促使整个企业设计、制造部门之间的协同工作。

            <br/><br/>(二)	&nbsp	基于企业服务总线实现PDM系统同制造无纸化平台的工艺资料传递：工艺无纸化是制造无纸化的基础，通过PDM系统与制造无纸化的集成，能够将产品工艺BOM、工艺图纸（二维工程图或三维数字模型）等工艺资料共享、传递给制造无纸化平台，实现工艺资料的无纸化管理和传递。PDM与制造无纸化平台的集成能保证工艺数据与产品设计数据的一致性，提高工艺资料管理的效率和工艺数据的准确性。

            <br/><br/>(三)		&nbsp基于企业服务总线实现ERP系统同MES系统的生产计划传递：ERP系统中的生产计划数据是MES系统进行排产、派工、资源分配、生产监控的基础。基于企业服务总线实现ERP系统和MES系统的集成，共享和传递生产计划数据能够保证生产数据的一致性和准确性，使得ERP系统中的生产计划数据、MES系统的排产计划数据以及企业实际生产数据保持一致。同时，ERP系统与MES系统的集成和数据共享能够提高企业生产数据管理与维护的效率、减少重复工作造成的浪费。此外，ERP与MES的集成使企业对实际生产进度情况进行监控和预警变得更为简单和方便。

            <br/><br/> (四)		&nbsp基于企业服务总线实现ERP系统同制造无纸化平台的生产计划数据传递：通过ERP系统和制造无纸化平台的数字化集成，将生产计划数据共享、传递至制造无纸化平台，能够保证生产数据的准确性和来源一致性，同时降低数据维护工作量，提高数据管理和维护效率。

        </div>
      </div>
   </div>


  <div class="row right color" style="padding-bottom: 0px">
     <div class="img_bottom_text col-md">
        <br/>
        <img class="normal-img" src="/assets/static/product/cloud_storage.png" alt="">
        <br/>
        <br/>Figure 1 FA Disk 逻辑架构图
     </div>
     <div class="col-md-4">
        <h2>企业云盘</h2>
        <p>
        企业客户内部邮件、办公文件、周报月报、工作任务等每天产生大量的数据，这些数据散落在各个应用和介质中，企业缺少文档版本管理查看和文档使用记录的能力，员工离职带着数据走，企业面临知识财产流失。上海飞奥信息技术服务有限公司基于云计算推出企业文件协作解决方案，通过软件功能完成商业用户文档的网络存储、管理和协同，实现文档的统一管理和安全存放，同时做到便捷分享和移动协作。
                    <p style="text-align: left">
                      <p><b>主要功能：</b>它具备强大和简单易用的文档在线编辑预览、协同办公、部门或虚拟团队之间文件共享、自动定时同步、历史资料归档、管理权限设置等丰富功能。</p>
                      <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                          良好的性能及用户界面
                      </p>
                      <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                        支持各种客户端（Android、IOS、浏览器、PC客户端）
                      </p>
                      <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持客户端的文件同步功能
                      </p>
                      <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      在线文件编辑及预览（PDF、图片、文本、Word等）
                      </p>
                      <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持版本控制，防止用户误删
                      </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持文件共享和权限管理
                     </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持数据加密功能
                     </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持与AD/LDAP集成
                     </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持REST API，方便第三方集成
                     </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      详细的日志功能
                     </p>
                     <p><img src="/assets/static/product/item1.png" alt=" " width="20px" height="19px">
                      支持版本控制，防止用户误删
                     </p>
              </p>
        </div>
    </div>

  <div class="row right color" style="padding-top: 0px">
      <div class="col-md-8">
          <br/>
          <h3>后端存储优势：</h3>
          <div>
                     一：&nbsp支持多种外部存储，包括SFTP/FTP、SMB/CIFS、Openstack对象存储、分布式文件系统（IBM GPFS、GlusterFS）等;
                     <br/>二：&nbsp灵活扩展，根据性能、可靠性和安全性等要求，每个用户可以自由添加外部存储支持混合云，方便与第三方云存储集成（如 Google Driver、Amazon S3等）;
          </div>
          <br/>
          <h3>专属服务：</h3>
          <div>一：&nbsp专属定制：可选更多定制套餐，企业尊贵形象树立；跨站点个性化存储架构定制；
          <br/> 二：&nbsp咨询服务：提供一对一企业专属咨询服务，解答企业所有问题；
          <br/> 三：&nbsp新手指南：告别不会用、不好用的网盘体验，会用电脑就会用云盘;</div>
          </p>
       </div>
   </div>

 <div class="row left">
        <div class="col-md">
                <h2>科学家平台</h2>
                <p>我们被数据所包围，但是我们必须通过数据科学家才能将这些数据转化为有意义、有价值的东西。为了实现这一目标，数据科学团队必须 拥有正确的工具，比如，一个强大的集成式平台；同时，若要满足数据敏感性要求，该平台可能需要管理由客户控制且高度安全的环境。 科学家平台为数据科学家及其团队提供了一个协作式平台。通过容器云交付的科学家平台不仅为数据科学团队提供所需的工具，还帮助他们在企业内部部署这些工具，能帮助数据科学团队更好地完成自己的工作。
                </p>
        </div>
        <div class="col-md-4">
         <img class="normal-img" src="/assets/static/product/machine_learn.jpg" alt="">
        </div>
  </div>
  <div class="row left" style="padding-top: 0px ;padding-bottom: 0px">
        <div class="col-md-8">
            <h3>在企业内部和云端实现一切事物的互联 </h3>
            <p>
            借助基于容器云的科学家平台，您能够开放您的现有资产、专业知识和流程，支持更加敏捷的消费模式，进而推动创新，满足业务需求。以容器技术、Kubernetes 为基础，企业能够加速采用容器技术作为战略要素，提高应用开发人员的工作效率，解放开发团队，实现快速、敏捷的应用开发。 借助自动化的内置仪表板和分析功能，您能够管理多个云端的应用和服务，提高灵活性，获得更多选择。针对连接 API 和数据，同时监控、记录和管理事件这类关键功能的执行，新增了一些必需服务，为快速生成优质代码和加速实 现业务价值奠定了基础。 它结合了两者的优势，能帮助企业借助私有云的力量，采用新的技术和DevOps 模式，开发和部署新的云应用，并且所有这一切都在一个平台上完成。 飞奥科学家平台提供了一个统一无数开源组件的平台，帮助数据科学家与同行围绕项目开展协作，一起找到更好的解决方案。他们能够共享知识与代码，帮助他人加速推进数据科学的发展，或者获得同行对自己工作的建议。数据科学家能够与整个社区共享他们的笔记本，向社区的其他成员展示成功方法或者获取他人对自己工作的反馈意见。此外，飞奥科学家平台中包括共享数据集、许多教程和指导性文章，确保新的数据科学家和团队能够获得上述工作所需的一切。此外，有经验的数据科学家还能利用这些资源，尝试新方法。因为飞奥科学家平台旨在提供现成的预配置数据科学平台，所以，用户不需要担心数据科学工具的安装、设置和维护任务。
            </p>
          </div>
</div>
</div>
{% endblock %}
