{% extends '_base.html' %}
{% block head %}
{{ super() }}
        <link rel="stylesheet" href="/assets/css/common.css">
        <link rel="stylesheet" href="/assets/css/service_and_product.css">
        <link rel="fly icon" href="favicon.ico" type="image/x-icon"/>

{% endblock %}

{% block content %}
{{ super() }}
  <div class="service-banner">
    <img src="/assets/static/service/service_banner.png" alt="">
  </div>

  <div class="container">

  <div class="row">
          <div class="col-md-6">
      <a href="product.html">
        <img class="service-choice1" src="/assets/static/service/item1-1.png" alt="">
      </a>

          </div>
          <div class="col-md-6">
      <a href="service.html">
        <img class="service-choice2" src="/assets/static/service/item1-2.png" alt="">
      </a>

          </div>
      </div>
  <div class="row left">
      <div class="col-md">
          <h2>咨询服务</h2>
          <p>上海飞奥信息技术服务有限公司的咨询团队由一群经验丰富的行业资深专家组成，专注在云端物联网领域，公司有领先的理念和技术、物联网与云计算的深度融合的成功案例，可为客户提供专业全面的咨询服务，助力客户成长。
          </p>
         </div>
      <div class="col-md">
        <img class="shadow-img" src="/assets/static/service/consulting_services.png" alt="">
      </div>
  </div>

  <div class="row right color ">
      <div class="col-md ">
        <img class="shadow-img" src="/assets/static/service/system_integration_service.png" alt="">
       </div>
       <div class="col-md">
          <h2>系统集成服务</h2>
          <p>
            上海飞奥信息技术服务有限公司的技术支撑团队具有丰富的智能制造及云端物联网领域的项目实施经验，够帮助制造业企业打通各个信息孤岛，完成企业内外部集成，实现流程和管理的可视化，能够整合制造业企业全系统内的物理资产、运营资产和人力资本，推动制造、维护、库存跟踪，系统效率更高也更为敏捷，生产停工时间更少，对工厂或整个网络中的变化进行预测和调整适应的能力更强，进一步提升市场竞争力。
          </p>
        </div>
  </div>

  <div class="row left" >
    <div class="col-md">
      <h2>企业上云及云迁移和云运维服务</h2>
      <p>上海飞奥信息技术服务有限公司是阿里云、腾讯云及优刻得等知名公有云企业代理商，公司的技术团队由一群公私云经验丰富的行业资深专家组成，擅长复杂系统技术咨询及实施服务，可为企业用户提供企业上云、云迁移及打通混合云和云运维等技术支撑服务。
      </p>
    </div>
    <div class="col-md">
        <img class="shadow-img" src="/assets/static/service/company_cloud.jpg" alt="">
    </div>
  </div>

  <div class="row right color ">
    <div class="col-md ">
      <img class="shadow-img" src="/assets/static/service/training_services.png" alt="">
     </div>
     <div class="col-md">
        <h2>培训服务</h2>
        <p>
        上海飞奥信息技术服务有限公司的拥有自己的技术支持及培训体系，公司与上海交大、复旦、中科院计算所、北邮、南邮等多所高校及科研院所紧密合作；与南京邮电大学共建的“3S智慧服务联合实验室”，可为客户提供多层次多方位的培训服务。
        </p>
      </div>
</div>
  </div>
{% endblock %}
