@import '_base.scss';

.fly-banner {
  overflow: hidden;
}

h2 {
  text-align: center;
  font-weight: 300;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 22px;

  .title-icon {
    padding-right: 10px;
  }
}

%news {
  .col-md-6 {
    img {
      width: 100%;
    }

    ul {
      list-style-image: url("../static/list-icon.png");

      span {
        float: right;
      }

      li {
        margin: 10px 0 20px;

        a {
          float: left;
          text-overflow: ellipsis;
          max-width: 80%;
          overflow: hidden;
          white-space: nowrap;
        }

        span {
          float: right;
        }
      }
    }
  }
}

.fly-notice {
  overflow: hidden;

  .row {
    font-size: 16px;
    color: #666666;

    .description-picture {
      width: 100%;
    }
    @extend %news;

    h2 {
      color: #0081c9;

      img {
        padding-right: 2%;
      }
    }
  }
}

.fly-news {
  .row {
    @extend %news;
  }

  .spinner {
    p {
      color: #5c5c5c;
    }
    .fa {
      color: $fly-blue
    }

  }
}

a {
  color: inherit;
}

a:hover {
  text-decoration: none;
}


@media only screen and (max-width: 768px) {
.fly-notice,
.fly-news {
  li {
    a {
      width: 60%;
    }
  }
}

.fly-notice {
  .col-md-6 {
    img {
      display: none;
    }
  }
}

}
