@import '_base.scss';

nav.navbar {

  .navbar-nav {
    .nav-item {

      .nav-link {
        text-align: center;
        color: #333;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;

        &.active {
          color: $fly-blue;
          border-bottom: 4px solid $fly-blue;
          transition: 0.1s;
          text-decoration: none;
        }
      }
    }
  }
}

@media only screen and (max-width: 568px) {
  .navbar {
    background: white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
}
