  body{
	  overflow-x:hidden
  }
  .navbar {
      padding-bottom: 11px;
    }

    .navbar-brand {
      position: relative;
      left: 20%;
      padding-bottom: 0.1px;
      padding-top: 0.1px;
      background-color: #ffffff
    }

    .fly-header {
      position: relative;
      left: 30%;
    }

    .fly-header a {
      text-decoration: none;
    }

    .fly-header a:hover {
      border-bottom: 3px solid #0081c9;
      transition: border-bottom 0.1s;
    }

	
	.container-common  .title{
		margin-left:38%
		
		 
	}
	
	.container-common  .content{
	   margin-left:19.5%				 
	}

 .col-md-10{
    background-color: #ffffff;
}
	

   

   
  


