#footers {
     margin:10px;
     text-align: center;
    background-color:#f3f3f3;
 }
#footers .col-md-2{
    text-align: left;
    margin-bottom: 20px;
}
#footers .title{
     margin-top:45px;
    font-weight:bold;
    font-size: 15px;
 }
#footers .content{
    margin-top:22px;
}
#footers p{
    line-height: 26px;
    font-size: 13px;
}