  .navbar {
      padding-bottom: 11px;
    }

    .navbar-brand {
      position: relative;
      left: 20%;
      padding-bottom: 0.1px;
      padding-top: 0.1px;
      background-color: #ffffff
    }


    .carousel-indicators {
      bottom: 45px;

    }

    .fly-header {
      position: relative;
      left: 30%;
    }

    .fly-header a {
      text-decoration: none;
    }

    .fly-header a:hover {
      border-bottom: 3px solid #0081c9;
      transition: border-bottom 0.1s;
    }

    .fly-banner img {
      width: 100%;
      height: 100%;
    }

    .fly-info {
      padding-left: 50px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      border-radius: 5px;
      float: left;
    }

    .card {
      border-radius: 0px;
    }

    .fly-card-body {
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .col-sm-16  card-body {
        padding-bottom: 20px;
    }

    .card-group {
      position: relative;
      top: -50px;
      left: 22.5%;
      width: 55%;

    }

    .card-group .card-body {
      padding-top: 20px;
      padding-bottom: 10px;
    }
    .fly-login {
      background-color: #1eb3e4;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      transition: 0.3s;
      float: left;
    }

    .fly-number {
      position: relative;
      display: inline-block;
      color: #1eb3e4;
      margin: 0;
      font-family: 'Anton', sans-serif;
      font-size: 50px;
    }

    .fly-number a {
      text-decoration: none;
    }

    .fly-number a:hover {
      background: #1eb3e4;
    }

    .card-columns {
      position: relative;
      left: 22.5%;
      width: 55%;
    }

    .card-text {
      font-size: 13px;
      color: #8c8c8c;
    }
    .footer {
      position: absolute;
      width: 100%;
      margin-top: 40px;
      padding-top: 30px;
      padding-bottom: 30px;
      line-height: 30px;
      background-color: #f5f5f5;
    }

    .container {
      position: relative;
      left: 5%;

      padding: 0 15px;
    }

    .container td {
      color: #8c8c8c;
      padding-bottom: 1px;
      font-size: 14px;
    }

    th {
      color: #333333;
      font-weight: normal;
    }

    hr {
      margin-top: 40px;
      border-top: 1px solid rgba(109, 108, 108, 0.11);
    }


