.navbar.navbar-expand-sm {
  padding-bottom: 0px;
  padding-top: 0px;
}

.navbar-brand.offset-md-2 {
  padding: 0px;
}

.fly-header a {
  color: black;
  text-decoration: none;
}

.fly-header a:hover {
  border-bottom: 4px solid #0081c9;
  transition: border-bottom 0.1s;
  color: #0081c9;
}
