.row {
  padding-top: 2%;
  color: #666666;
  font-size: 14px;
  letter-spacing: 1px;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.row.right {
  background: #f9f9f9;

}

.left .col-md-4.offset-md-2 {
  padding-right: 0px;
}

.row .shadow-img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.row.right div:nth-child(2) {
  padding-left: 0px;
}
.icon {
  float: left;
  padding-right: 2%;
}


h2  {
  color: #0081c9;
  font-size: 22px;
  padding-bottom: 2%;
  font-family: "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}
